{% extends 'main/base.html' %} 

{% block css %} 

{% endblock %}

{% block title %} 
	SIGNIN
{% endblock %} 
{% load crispy_forms_tags %}

{% block content %} 
	{% if user.is_anonymous %}
	{% block pagetitle %} 
		<h1 class="display-4"> Login </h1> 
	{% endblock %} 

	{% block centercontent %}
	<div class="col-md-10">
		<form method="POST" class="form-group">
			{% csrf_token %}
			{{form|crispy}} 
			<p>Don't have an account. Sign up <a href="/signup">here.</a></p>
			<button type="submit" class="btn btn-success" name="login" value="login">LogIn</button>
		</form>  
	</div>
	{% endblock %}
	{% else %} 
	<br> 
	<br>
	<p><a href="/" class="btn btn-danger btn-lg btn-block">You Are Already Logged In!</a></p>
	{% endif %} 

{% endblock %}  