{% extends 'main/base.html' %} 


{% block title %} 
College Name
{% endblock %} 

{% block content %} 
	{% block pagetitle %} 
		<h1 class="display-4">New College Form</h1> 
		
		
	{% endblock %} 

	{% block centercontent %}
	{% if error %} 
		<p style="color: red;"> *Invalid Form. </p>
	{% endif %}
 
	<div class="col-md-8">
		<form method="POST" action="#"> 
			{% csrf_token %}
			<div class=form-group>
				<h3 for="new">Name:</h3> 
				<input type="text" name="new" id="new" class="form-control"> 
				
			</div>
			<div class="row">
				<div class="col">
					<div class="form-group">  
						<h5 for="myrating">My Rating:</h5>
						<input type="range" name="rating" value="5" min="0" max="10" id="inputid" class="slider" oninput="outid.value=inputid.value"> 
						<output name="val" id="outid" >5</output> 
						
					</div>
				</div> 

				<div class="col"> 
					<div class="form-group"> 
						<h5 for="accrate">Acceptance Rate</h5> 
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text">%</span>
							</div>
							<input type="number" id="accrate" name="acceptance" placeholder="0-99%" class="form-control">
						</div>
					</div> 
				</div>
			</div>

			<div class="form-group">  
					<h3 for="price">Avg. Price For You:</h3>
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text">$</span>
						</div> 
						<input type="number" id="price" name="price" class="form-control">  
					</div>
			</div>
			

			<div class="form-group">  
				<h3 for="location">State:(if in the US)</h3>
					 <select class="custom-select" name="loc" value="loc">
					 	<option>Not in the US</option>
					    <option>Alabama</option>
						<option>Alaska</option>
						<option>Arizona</option>
						<option>Arkansas</option>
						<option>California</option>
						<option>Colorado</option>
						<option>Connecticut</option>
						<option>Delaware</option>
						<option>Florida</option>
						<option>Georgia</option>
						<option>Hawaii</option>
						<option>Idaho</option>
						<option>IllinoisIndiana</option>
						<option>Iowa</option>
						<option>Kansas</option>
						<option>Kentucky</option>
						<option>Louisiana</option>
						<option>Maine</option>
						<option>Maryland</option>
						<option>Massachusetts</option>
						<option>Michigan</option>
						<option>Minnesota</option>
						<option>Mississippi</option>
						<option>Missouri</option>
						<option>MontanaNebraska</option>
						<option>Nevada</option>
						<option>New Hampshire</option>
						<option>New Jersey</option>
						<option>New Mexico</option>
						<option>New York</option>
						<option>North Carolina</option>
						<option>North Dakota</option>
						<option>Ohio</option>
						<option>Oklahoma</option>
						<option>Oregon</option>
						<option>PennsylvaniaRhode Island</option>
						<option>South Carolina</option>
						<option>South Dakota</option>
						<option>Tennessee</option>
						<option>Texas</option>
						<option>Utah</option>
						<option>Vermont</option>
						<option>Virginia</option>
						<option>Washington</option>
						<option>West Virginia</option>
						<option>Wisconsin</option>
						<option>Wyoming</option>
					</select>
					<br>
					<input type="text"  name="specificloc" placeholder="If not in the US"  class="form-control">
			</div>

			<div class="form-group">  
					<h3 for="location">Application Deadlines</h3>
					<input type="date" id="deadline" name="deadline"  class="form-control">
			</div>
			<br>

			<!--Permission for other users to see data.-->
			
				<div class="input-group-prepend" > 
					<div class="col-md-3"></div>
			     	 <input type="checkbox" name="permission" value="allowed" checked>
			   		 <p style="font-size: 17px"> *Let others users access and use this data.</p>
				</div>
			  
			
			<!--permission-->
			<br>
			<button name="save" value="save" class="btn btn-primary btn-lg">SAVE</button>
			<p> *Please make sure that all inputs are valid.</p>


		</form> 
	</div>
			
	{% endblock %} 

{% endblock %}