{% extends 'main/base.html' %} 

{% block title %} 
{{college.name}} 
{% endblock %} 

{% block content %} 
	{% block pagetitle %} 
		<h1 class="display-4">About College</h1> 
		<h4> (from my research)</h4>
	{% endblock %} 
	{% if user.is_authenticated %}
	{% block centercontent %} 
	<br>
		<h2 class="display-6">Name:{{college.name}}</h2> 
		<h2 class="display-5">Avg. Price For You:={{college.price}}$</h2> 
		<h2 class="display-5">My Rating:{{college.myrating}}</h2> 
		<h2 class="display-5">
		{% if college.location == "Not in the US" %}
		Location:{{college.specifiedlocation}}
		{% else %}
		Location:{{college.location}}
		{% endif %}
		</h2>
		<h2 class="display-5">Acceptance Rate:{{college.acceptancerate}}%</h2> 
		{% if fdeadline%} 
		<h2 class="display-5">Application Deadline:?</h2> <br><br>
		{% else %}
		<h2 class="display-5">Application Deadline:{{college.deadline}}</h2> <br><br>
		{% endif %}
	<div class="row" align="center">
		<div class=col-sm-4>
		</div>
	
		<form action="/mycoll/editdata/{{college.id}}"> 
		<button style="margin-right:20px " type="submit" name="edit" value="edit" class="btn btn-primary btn-lg">EDIT</button>
		</form>
		<form method="POST" action="#">  
			{% csrf_token %}
			<button type="submit" name="delete" value="delete" class="btn btn-danger btn-lg">DELETE COLLEGE FROM MY LIST</button>
		</form>	
	</div>
	{% endblock %} 
	{% endif %}

{% endblock %}